name: ys-caddy
version: {{ .Version }}
arch: {{ .Arch }}
platform: linux
section: net
priority: optional
maintainer: "ysicing <ysicing@12306.work>"
description: "Caddy - fast and extensible multi-platform HTTP/1-2-3 web server with automatic HTTPS."
license: Apache-2.0
homepage: https://caddyserver.com
contents:
  - src: ./caddy
    dst: /usr/local/bin/caddy
    file_info:
      mode: 0755
