name: ys-mc
version: {{ .Version }}
arch: {{ .Arch }}
platform: linux
section: utils
priority: optional
maintainer: "ysicing <ysicing@12306.work>"
description: "MinIO Client (mc) - a modern alternative to UNIX commands for object storage."
license: AGPL-3.0
homepage: https://min.io
contents:
  - src: ./mc
    dst: /usr/local/bin/mc
    file_info:
      mode: 0755
